@import '~bulma/sass/utilities/initial-variables';
@import '~bulma/sass/utilities/functions';
@import './config';

// Colors
$primary: $color-blue-1;

// Text Color
//$text: $color-gray;

$body-background-color: transparent;

@import '~bulma/bulma';
@import '~buefy/src/scss/buefy';
