$color-blue: #128cf4;
$color-blue-dark: #006ac5;
$color-blue-darker: #194379;
$color-blue-darkest: #0a1d36;
$color-blue-light: #72b9f6;

$margin: 10px;

$color-blue-0: #22344D;
$color-blue-1: #0065C0;
$color-blue-2: #2FABE1;
$color-blue-3: #c0d3f8;

$color-text-primary: $color-blue-0;
